.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-color-text: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --accent-text-color: #2196f3;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-text-color);
}
img {
  display: block;
}
.current {
  color: var(--accent-text-color);
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--secondary-text-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header .container {
  display: flex;

  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
/* Logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-left: 15px;
  margin-right: 93px;

  color: var(--accent-text-color);
}
.logo-black {
  color: black;
}
.logo-white {
  color: var(--third-color-text);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus,
.current {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}
.nav-item:not(:nth-last-child(1)) {
  margin-right: 50px;
}
.nav {
  color: var(--secondary-text-color);
}
.nav .list {
  display: flex;
}
.header .auth.list {
  display: flex;
  margin-left: auto;
  padding-right: 15px;

  fill: #757575;
}
.auth-item .link {
  display: flex;
}
.auth-item + .auth-item {
  margin-left: 50px;
}
.auth-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
/* Main */

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container {
  width: 696px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;

  color: var(--third-color-text);
}
.section.hero {
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img.jpg);
}

.hero-button {
  font-family: 'Roboto';
  font-style: normal;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  background-color: var(--accent-text-color);
  color: var(--third-color-text);
  border: none;
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
/* About */
.about .list {
  display: flex;
}
.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--third-bg-color);
  margin-bottom: 30px;
}
.about .box-icon {
  height: 70px;
  width: 70px;
}
.about .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;

  color: var(--secondary-text-color);
}
.about .about-item {
  display: block;
  text-align: start;
}
.about .about-item:not(:nth-last-child(1)) {
  margin-right: 30px;
}

/* Work */
.work .section-title {
  margin-bottom: 50px;
}
.work .list {
  display: flex;
}
.work .work-item:not(:nth-last-child(1)) {
  margin-right: 30px;
}

/* Team */
.section.team {
  background-color: var(--third-bg-color);
}
.team .section-title {
  margin-bottom: 50px;
}
.team .list {
  display: flex;
}
.team .position,
.team .title {
  font-size: 16px;
  line-height: 1.18;
}

.team .title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;

  color: #212121;
}
.team .team-item {
  background: var(--primary-bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team .team-item:not(:nth-last-child(1)) {
  margin-right: 30px;
}
.list.team-social {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
}

.social-item:not(:nth-last-child(1)) {
  margin-right: 10px;
}
.team-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 44px;
  border-radius: 50%;

  fill: #AFB1B8;
  background-color: var(--primary-bg-color);
}
.team-link:hover,
.team-link:focus {
  fill: var(--third-color-text);
  background-color: var(--accent-text-color);
}
.team-icon {
  height: 20px;
  width: 20px;
}
/* Clients */
.clients .section-title {
  margin-bottom: 50px;
}
.section.clients .list {
  display: flex;
  padding-left: 15px;
}
.clients-item:not(:nth-last-child(1)) {
  margin-right: 30px;
}
.clients .clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients .clients-link:hover,
.clients .clients-link:focus {
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.client-icon {
  width: 106px;
  height: 60px;
}

/* Footer */
.footer {
  background-color: var(--secondary-bg-color);
}

.footer .container {
  display: flex;
  padding-top: 60px;
}

.address {
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 60px;
  font-style: inherit;
}
.address-item:not(:nth-last-child(1)) {
  margin-bottom: 9px;
}

.footer .link[target='_blank'] {
  color: var(--third-color-text);
}
.footer .info {
  color: rgba(255, 255, 255, 0.6);
}
.footer .info:hover,
.footer .info:focus {
  color: var(--accent-text-color);
}
.footer .link.map:hover,
.footer .link.map:focus {
  color: var(--accent-text-color);
}
.container-social {
  padding-top: 12px;
  margin-left: 70px;
}
.container-social .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--third-color-text);
}
.container-social .list {
  display: flex;
  margin-top: 20px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--third-color-text);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-text-color);
}
.social-icon {
  height: 20px;
  width: 20px;
}
.social-item:not(:nth-last-child(1)) {
  margin-right: 10px;
}

/* Portfolio */
.container.filter {
  padding-bottom: 56px;
}
.filter-list {
  display: flex;
  justify-content: center;
}
.filter-items {
  display: block;
  align-items: center;
}
.filter-items:not(:nth-last-child(1)) {
  margin-right: 8px;
}

.filter-button {
  font-family: 'Roboto';
  font-style: normal;
  border: none;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;

  color: var(--secondary-text-color);
  background-color: var(--third-bg-color);

  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus,
.active-filter {
  background-color: var(--accent-text-color);
  color: var(--third-color-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list.catalog {
  display: flex;
  flex-wrap: wrap;
}
.catalog-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.catalog-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.about-variant {
  background: var(--third-color-text);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  box-sizing: border-box;
}
.catalog .title {
  padding-top: 20px;
  padding-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}
.catalog .position {
  padding-bottom: 20px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.catalog-link {
  text-decoration: none;
  color: inherit;
}
